version: '3.9'
services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: ksg9482/fastapi-post:24.09.04
    ports:
      - "80:8000" 
    depends_on:
      - db
      - redis
    networks:
      - app-network
    environment:
      - DATABASE_URL=mysql+aiomysql://user:password@db:3306/exampledb
      - REDIS_URL=redis://localhost
      - PYTHONPATH="./"

  db:
    image: mysql:lts 
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    environment:
      MYSQL_DATABASE: 'exampledb'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysqldata:
